{% extends 'base.html' %}
{% block main %}
<h1>Login</h1>
<form id="form" method="post" action="">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <table class="table">
    {% for field in form.visible_fields %}
        <tr>
            <td>{{ field.label }}</td>
            <td>{{ field }}</td>                 
            <td>{{ field.help_text}}</td>
            {% if field.errors %}
                <td class="alert alert-danger">{{ field.errors }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
 <input type="submit" class="btn" name="submit" value="Submit" />
</form>
{% endblock %}