{% extends 'base.html' %}
{% block main %}
<script type="text/javascript">
function showMoreInfo(){
	$('.moreInfo').removeClass('hidden');
	$('.showMoreInfoButton').addClass('hidden');
	$('.hideMoreInfoButton').removeClass('hidden');
}

function hideMoreInfo(){
	$('.moreInfo').addClass('hidden');
	$('.showMoreInfoButton').removeClass('hidden');
	$('.hideMoreInfoButton').addClass('hidden');
}

</script>

<h1>{{ name }}</h1>


{% if geo %}
	<img src="https://maps.googleapis.com/maps/api/staticmap?size=600x300&zoom=13&markers=|{{ geo }}&sensor=true">
{% endif %}



<h2>Rides</h2>
<h3>To Event</h3>
{% if rides_to %}

	<table class="table">
		<tr><th>Time</th><th>Location</th><th>Details</th></tr>
		{% for ride in rides_to %}
			<tr>
				<td>{{ ride.time }}</td>
				<td>{{ ride.location }}</td>
				<td><a href="{% url 'rides:ride_details' ride.id %}">View</a></td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	There are currently no rides to this event
{% endif %}

<h3>From Event</h3>
{% if rides_from %}

	<table class="table">
		<tr><th>Time</th><th>Location</th><th>Details</th></tr>
		{% for ride in rides_from %}
			<tr>
				<td>{{ ride.time }}</td>
				<td>{{ ride.location }}</td>
				<td><a href="{% url 'rides:ride_details' ride.id %}">View</a></td>
		{% endfor %}
	</table>
{% else %}
	There are currently no rides from this event
{% endif %}


<br><br>
<a class="btn btn-default" href="{% url 'rides:ride_add' id %}">Add a ride</a><br><br>

<a class="btn btn-primary showMoreInfoButton" onclick="showMoreInfo()">Show More Info</a>
<a class="btn btn-primary hideMoreInfoButton hidden" onclick="hideMoreInfo()">Hide More Info</a>
<div class="moreInfo hidden">
<h3>{{ organizer }}</h3>
<h3>{{ venue }}</h3>
<h4>{{ start }} - {{ end }}</h4>
<p>{% autoescape off %}{{ description }}{% endautoescape %}</p>
<div>



{% endblock %}