{% extends 'base.html' %}
{% block main %}

<img src="https://maps.googleapis.com/maps/api/staticmap?size=500x250&zoom=13&markers=|{{ location }}&sensor=true">

<table class="table">
	<tr><th>Time:</th><td>{{ ride.time }}</td></tr>
	<tr><th>Location:</th><td>{{ ride.location }}</td></tr>
	<tr><th>Direction:</th><td>{{ ride.direction }}</td></tr>
	<tr><th>Comments:</th><td>{{ ride.comments }}</td></tr>
	<tr><th>Status:</th><td>{% if already_joined %}ALREADY JOINED{% elif ride.isFull %}FULL{% else %}<a href="{% url 'rides:ride_join' ride.id %}">Join</a>{% endif %}</td></tr>
</table>
<a class="btn btn-default" href="{% url 'rides:event_details' ride.event_id %}">Return to Event Page</a>
{% if already_joined %}
	<a class="btn btn-default" href="{% url 'rides:ride_cancel' ride.id %}">Cancel Ride</a>
{% endif %}
{% endblock %}