<h1>Welcome to Rideshare</h1>

Hi, {{ rider.first }}!

<br><br><br>
Your profile <br><br>
<table>
	<tbody>
		<tr>
			<th>First</th>
			<th>Last</th>
			<th>Email</th>
			<th>ID</th>
		<tr>
		<tr>
			<td>{{ rider.first }}</td>
			<td>{{ rider.last }}</td>
			<td>{{ rider.email }}</td>
			<td>{{ rider.eventbrite }}</td>
		</tr>
	</tbody>
</table>
<br><br>
Your Events:
{% if events %}
	<br><br>
	<table>
		<tbody>
			<tr><th>Event</th><th>ID</th><th>Rides</th>
			{% for id, name in events.items %}
				<tr><td>{{ name }}</td><td>{{ id }}</td><td><a href="{% url 'rides:event_details' id %}">Details</a></td></tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}