{% extends 'base.html' %}

{% block main %}
<h1>Hi, {{ rider.user.first_name }}!</h1>
<br>
<h2>Your Events:</h2>
{% if events %}
	<table class="table">
		<tr><th>Name</th><th>To</th><th>From</th>
	{% for id, event in events.items %}
		<tr>
			<td><a href="{% url 'rides:event_details' id %}">{{ event.0 }}</a></td>
			<td>To</td>
			<td>From</td>
		</tr>
	{% endfor %}
	</table>
{% endif %}

<h2>Your Rides:</h2>
{% if rides %}
	<table class="table">
		<tr><th>Time</th><th>Event</th><th>Location</th><th>Direction</th><th>View</th>
	{% for ride in rides %}
		<tr>
			<td>{{ ride.time }}</td>
			<td>{{ ride.event_name }}</td>
			<td>{{ ride.location }}</td>
			<td>{{ ride.direction }}</td>
			<td><a href="{% url 'rides:ride_details' ride.id %}">View</a></td>
		</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}