body {
  padding-top: 50px;
}

.body-template {
  padding: 40px 15px;
  padding-left: 50px;
  text-align: center;
  color: #000;
  background-color: #fff;
}
.textpage-template {
  padding: 50px 15px;
  text-align: left;
}
